/* index.css or App.css */
* {
  margin: 0;
  padding: 0;

}



/* Custom Scrollbar Styles for entire app */
::-webkit-scrollbar {
  width: 8px; /* Narrow scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Light thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track background */
}
